@tailwind base;
@tailwind components;
@tailwind utilities;

.corner-border {
  border-right: 5px solid #FBD300;
  border-bottom: 2px solid transparent;
  border-top:2px solid transparent;
  border-left:  5px solid #FBD300;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.corner {
  border-color: #666666 !important; /* CHANGE COLOR HERE */
}